

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.top-bar {
  background-color: var(--color-principal);
  font-size: 0.9rem;
}

.bg-main {
  background-color: var(--color-principal);
}

.navbar-nav .nav-link {
  color: white;
  margin-left: 1rem;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: var(--color-orange);
}

.text-orange {
  color: var(--color-orange);
}

.banner {
   /* center center /                               cover → centra la imagen y la hace cubrir todo el contenedor sin deformarse  */
  background: url('../img/floristeria.webp') no-repeat center center / cover ; 
  min-height: 68vh; 
}

.banner h6 {
  font-weight: 500;
  letter-spacing: 1px;
}

.banner h1 {
  margin-top: 0.5rem;
}

.btn-warning {
  background-color: var(--color-orange);
  border: none;
  padding: 0.7rem 2rem;
}

/* .btn-warning:hover {
  background-color: #d86e13;
} */



:root {
  --color-principal: #548c82;
  --color-orange: #FFA988;
  
}

.banner-forma {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #002a5c; 
  overflow: hidden;
}


.banner-forma::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 100px solid #7cb3f4;
}
body {
  background-color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.logo-container {
  background-color: #e9ecef;
}

.logo {
  height: 50px;
}

.text-orange {
  color: var(--color-orange);
}

.btn-cyan {
  background-color: var(--color-cyan);
  border: none;
  color: #fff;
  font-weight: 500;
}

.btn-cyan:hover {
  background-color: #00b4e0;
}

.footer {
  background-color: var(--color-principal);
  font-size: 0.9rem;
}




.seccion-logo {
  background-color: #7cb3f4; 
  position: relative;
  padding: 20px 40px;
  overflow: hidden;
}


.seccion-logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 100px solid white;
}


.contenido-logo {
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 1;
  position: relative;
}

.contenido-logo img {
  height: 50px;
}

.contenido-logo span {
  font-size: 24px;
  font-weight: bold;
  color: #0a264a; 
}


